# Code Owners
*                           @alkalinearchitect
/src/                       @alkalinearchitect
/public/                    @alkalinearchitect
/.github/                   @alkalinearchitect
